body {
  display: flex;
  width: 960px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: lightgray;
}

h1 {
  font-size: 2em;
  margin-left: 1rem;
  font-weight: 600;
}

header img {
  padding-left: 1rem;
}

main {
  width: 100%;
  background-color: #83c5be;
}

#voteContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: auto 0;
  font-size: 1.3rem;
}

#voteContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto 0;
  height: 500px;
}

#voteContainer img {
  width: 300px;
  height: 375px;
  object-fit: contain;
  border: solid black 1px;
}

#voteContainer h2, #voteContainer img {
  margin: .5rem;
}

button {
  font-size: 1.4rem;
  color: white;
  background-color: darkgray;
  border: transparent;
  border-radius: 5px;
  padding: .5rem;
  margin: .5rem;
}

button:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

#voteContainer ul {
  width: 100%;
  margin-left: 2rem;
}

#voteContainer li {
  margin: .5rem;
}

#voteContainer ul li:nth-child(odd) {
  list-style: disc;
  font-size: 1.5rem;
}

#voteContainer ul li:nth-child(even) {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

footer {
  height: 3rem;
  background-color: lightgray;
}

