body {
  display: flex;
  width: 960px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  display: flex;
  width: 100%;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
h1 {
  font-size: 1.5em;
  margin-left: 1rem;
}

main {
  width: 100%;
}

#voteContainer {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: auto 0;
}

#voteContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto 0;
  height: 450px;
}

#voteContainer ul {
  margin-left: 1rem;
}

#voteContainer li {
  margin: .5rem;
}

#voteContainer ul li:nth-child(odd) {
  list-style: disc;
  font-size: 1.5rem;
}

#voteContainer ul li:nth-child(even) {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

